# import funcitons from suggesting packages

importFrom(tibble, rownames_to_column)
importFrom(tibble, column_to_rownames)
importFrom(tibble, remove_rownames)
importFrom(tibble, as.tibble)
importFrom(varhandle, unfactor)

import(ggplot2)
import(dplyr)
import(vegan)

# export function from our R directory
export(PERMANOVA1)
export(wilcox_sign)
